.banner {
    justify-content: center;
    height: 90vh;
    background-image: url('/home/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.banner.section .row.flex-col.center {
    gap: 0;
}

.banner h1,
.banner p {
    max-width: 55%;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-wrapper .menu-item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.menu-wrapper .menu-item-row h3 {
    font-size: 18px;
    color: var(--primary);
}

.menu-wrapper .menu-item-row .price {
    font-weight: 700;
    font-size: 18px;
    color: var(--primary);
}

.menu-wrapper .menu-item {
    width: 70%;
}

.menu-wrapper .divider {
    flex: 1;
    border: none;
    border-top: 2px solid var(--primary);
}

.contact.section,
.contact.section .row {
    min-height: 50vh;
}

.contact.section h2,
.contact.section p,
.contact.section a {
    text-align: center;
}

.contact.section a {
    color: var(--white);
    text-decoration: underline;
}

.services.section {
    position: relative;
}

.services.section::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url('/home/img/pattern.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.services.section .row {
    position: relative;
}

.reviews.section,
.reviews.section .row {
    height: 60vh;
}

.reviews.section h2,
.reviews.section p {
    text-align: center;
    width: 60%;
}

.reviews.section .review-toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.reviews.section .review-toggle {
    transition: var(--transition);
}

.reviews.section .review-toggle:hover {
    cursor: pointer;
}

.reviews.section .review-toggle.active {
    background-color: var(--white);
    border-radius: 50%;
    transition: var(--transition);
}

@media (max-width: 560px) {
    .banner {
        height: fit-content;
    }

    .banner h1,
    .banner p {
        max-width: 100%;
    }

    .menu-wrapper .menu-item {
        width: 100%;
    }

    .reviews.section h2, 
    .reviews.section p {
        width: 100%;
    } 
}